# Android build files
android/app/build/
android/.gradle/
android/local.properties
android/app/**/*.apk
android/app/**/*.so
android/app/**/*.bin

# Large binary files
*.apk
*.so
*.a
*.o
*.dill
*.bin
*.zip-cache

# Flutter build cache
**/build/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/ServiceDefinitions.json
