# ----------------------------------------------------------------------------
# Flutter & Dart
# ----------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
fahamni/mobile/build/

# ----------------------------------------------------------------------------
# Android
# ----------------------------------------------------------------------------
.gradle/
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json
android-backup/
**/*.keystore
**/*.jks

# ----------------------------------------------------------------------------
# iOS & macOS
# ----------------------------------------------------------------------------
**/ios/.generated/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/macos/Flutter/ephemeral/
**/macos/Pods/
Podfile.lock

# ----------------------------------------------------------------------------
# Firebase & Web
# ----------------------------------------------------------------------------
.firebase/
fahamni/mobile/.firebase/
fahamni/mobile/public/
fahamni/web/node_modules/
fahamni/web/dist/

# ----------------------------------------------------------------------------
# IDEs & System
# ----------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.lock
.DS_Store